
<!DOCTYPE html>
<html>
    <head>
       
        <title>Adi's Assignments</title>
    <head>
    <body>
       <ul>
           <li>Hw 1 A:In this homework we wrote some psuedocode, worked with binary numbers, and practices boolean logic.</li>
           <li>Hw 1 B:In this homework we created a simple program and created several functions that manipulated lists.</li>
           <li>Hw 2 A:In this homework we iterated through a list several times with the selection sort algorithm and we found the time complexities of various provided examples. We also started creating our machine learning library.</li>
           <li>Hw 2 B:In this homework we created a simulation of a projectile being shot up straight into the air.</li>
           <li>Hw 3 A:In this homework we wrote pseudocode and found its time complexity. We also wrote a few functions recursively.</li>
           <li>Hw 3 B:In this homework we wrote a percolation module which included several functions. We also continued working on our machine learning library by implement a few functions that gave as statistics about our data.</li>
           <li>Hw 4:In this homework we use object oriented programing to model a class.</li>
           <li>Hw 5:In this homework we completed our machine learning library using pandas and scikit-learn.</li>
        </ul>
        <p>My favorite homework was the Hw 3 B because I like the challenge of implementing the recusive function for the percolation module.</p>   
    </body>
</html>


