<!DOCTYPE html>
<html>
    <head>
       
        <title>Adi's Assignments</title>
    <head>
    <body>
        <table style="width:60%;margin-left:auto;margin-right:auto">
            <tr>
                <th>classname</th>
                <th>instructor</th>   
            </tr>
            <tr>
                <td>Statistics</td>
                <td>Katherine Thorson</td>
            </tr>
            <tr>
                <td>First Year Seminar: America's Social Divides</td>
                <td>Debra Minkoff</td>
        
            </tr>
            <tr>
                <td>Spain Through its Art</td>
                <td>Angelina Craig-Florez</td>
            </tr>
            <tr>
                <td>Intro to computing for Enigneers and Applied Scientists</td>
                <td>Timothy Paine</td>    
            </tr>
            <tr>
                <td>Math methods for economics</td>
                <td>Sharon Harrison</td>    
            </tr>
            
        </table>
        <p>My favorite class was statistics because I had a great instructor.</p>
    </body>
</html>
