
<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Adi's Website</title>
    <head>
    <body>
    <h2>Adi Mayer</h2>
    <img src="/static/adimayer.JPG" style="height:50vh;">
    <p> I am a First Year <br>I intend to major in Economics and Political Science</p>
    <a href="assignment">Assignments</a>
    <a href="classes">Classes</a>
    <p>Favorite website: <a href="http://www.landwercafe.com/">Cafe Landwer</a></p>
    </body>
</html>


